@import url("https://fonts.google.com/specimen/Inter");

@tailwind base;
@tailwind components;
@tailwind utilities;

.simple {
  background-color: rgb(216, 138, 22);
  padding: 0.3em;
  border-radius: 0.3rem;
  color: white;
  font-size: larger;
}
.luxury {
  background-color: rgb(15, 15, 15);
  padding: 0.3em;
  border-radius: 0.3rem;
  color: white;
  font-size: larger;
}
.rugged {
  background-color: rgb(9, 62, 4);
  padding: 0.3em;
  border-radius: 0.3rem;
  color: white;
  font-size: larger;
}
